<div>
    <label>Bookmark URL</label>
    <br>
    <input type="text" placeholder="Enter bookmark URL" ng-model="bookmarkUrl">

    <br><br>

    <label>Bookmark Title</label>
    <br>
    <input type="text" placeholder="Enter bookmark title" ng-model="bookmarkTitle">

    <br><br>

    <label>Tags: (separated by commas)</label>
    <br>
    <input type="text" placeholder="Enter bookmark tags" ng-model="tags">

    <br><br>

    {{errorMsg}}

    <br><br>
    <button type="button" ng-click="saveBookmark()">Save</button>
    <button type="button" ng-click="clearBookmarkInfo()">Clear</button>
</div>
